<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../public/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../public/css/leaderboard.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' type="text/css">

    <!-- LIBS -->
    <link rel="stylesheet" type="text/css" href="../public/css/libs/hover/hover.css">

    <title>BattleSheep | Leaderboard</title>

</head>
<body>
    <header class="header">
        <%- include("./parts/header"); -%>
    </header>

    <main>
        <section class="leaderboard-section margin75">
            <div class="limiter">
                <div class="container-table100">
                    <div class="wrap-table100">
                        <div class="table100">
                            <table>
                                <thead>
                                <tr class="table100-head">
                                    <th class="column1">Rank</th>
                                    <th class="column2">Username</th>
                                    <th class="column3">Games Played</th>
                                    <th class="column6">Win</th>
                                    <th class="column6">Loose</th>
                                    <th class="column6">W/L</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(let i = 0; i < top.length; i++) { %>
                                    <tr>
                                        <td class="column1"><%= (i + 1) %></td>
                                        <td class="column2"><%= top[i].username %></td>
                                        <td class="column3"><%= top[i].gamesPlayed %></td>
                                        <td class="column6"><%= top[i].gamesWon %></td>
                                        <td class="column6"><%= (top[i].gamesPlayed - top[i].gamesWon) %></td>
                                        <td class="column6"><%= (top[i].gamesWon / top[i].gamesPlayed).toFixed(3) %></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <%- include("./parts/footer"); -%>
    </footer>

    <script src="../public/js/responsive/HeaderResponsive.js"></script>



</body>
</html>