<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../public/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' type="text/css">

    <!-- LIBS -->
    <link rel="stylesheet" type="text/css" href="../public/css/libs/hover/hover.css">

    <title>BattleSheep | Leaderboard</title>

</head>
<body>
    <header class="header">
        <%- include("./parts/header"); -%>
    </header>

    <main>
        <% for(let i = 0; i < top.length; i++) {%>
            <p><%= top[i].username %></p>
            <p><%= top[i].gamesPlayed %></p>
            <p><%= top[i].gamesWon %></p>
        <% } %>
    </main>

    <footer>
        <%- include("./parts/footer"); -%>
    </footer>

    <script src="../public/js/responsive/HeaderResponsive.js"></script>



</body>
</html>