<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/modal.css">
    <link rel="stylesheet" type="text/css" href="../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../public/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../public/css/profile.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel="stylesheet" type="text/css">

    <!-- LIBS -->
    <link rel="stylesheet" type="text/css" href="../public/css/libs/hover/hover.css">

    <title>BattleSheep | Profile</title>
</head>
<body>
    <header class="header">
        <%- include("./parts/header"); -%>
    </header>

    <div id="changePasswordModal" class="change__password_modal">
        <div class="change__password__container">
            <div id="close" class="close">
                <i class='bx bx-x'></i>
            </div>
            <div class="change__password__content">
                <h1>Create new password</h1>
                <p>Your new password must be different from previous used passwords</p>
                <form action="api/resetpassword" method="POST" class="change__password__form">
                    <div class="change__password__form__element">
                        <span>Password</span>
                        <label class="password__label" for="currentPassword"><input name="currentPassword" id="passwordInput" type="password" placeholder="Enter your password" required>
                            <i id="showPassword" class='bx bx-show'></i>
                        </label>
                    </div>
                    <div class="change__password__form__element">
                        <span>Confirm password</span>
                        <label class="password__label" for="confirmPassword"><input name="confirmPassword" id="passwordConfirmInput" type="password" placeholder="Confirm your password" required>
                            <i id="showPassword" class='bx bx-show'></i>
                        </label>
                    </div>
                    <div class="change__password__button__container">
                        <button type="submit" id="sendButton" class="login__button hvr-grow">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <main class="profile__container">
        <h1><mark>Dashboard</mark></h1>
        <span class="profile__welcome">Welcome back <%= username %></span>

        <div class="profile__informations__container">
            <h2><mark>Informations</mark></h2>
            <div class="profile__informations__table">
                <table>
                    <tbody>
                    <tr>
                        <td>Username</td>
                        <td class="profile__editor"><span><%= username %></span><i class='bx bx-edit'></i></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td class="profile__editor"><span><%= email %></span><i id="email" class='bx bx-edit'></i></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td class="profile__editor"><span>**********</span><i id="password" class='bx bx-edit'></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="profile__success__container">
            <h2><mark>Success</mark></h2>
            <div class="profile__success__img__container">
                <img src="" alt="First Game">
                <img src="" alt="First Game">
                <img src="" alt="First Game">
                <img src="" alt="First Game">
                <img src="" alt="First Game">
            </div>
            <div class="profile__success__img__container">
                <img src="" alt="First Game">
                <img src="" alt="First Game">
                <img src="" alt="First Game">
                <img src="" alt="First Game">
                <img src="" alt="First Game">
            </div>
        </div>

        <div class="profile__logout__container">
            <div class="profile__logout__button">
                <a href="/logout">
                    <button class="hvr-grow">Logout</button>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <%- include("./parts/footer"); -%>
    </footer>

    <script src="../public/js/profile/main.js"></script>
    <script src="../public/js/responsive/HeaderResponsive.js"></script>

</body>
</html>