<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../public/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../public/css/profile.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel="stylesheet" type="text/css">

    <!-- LIBS -->
    <link rel="stylesheet" type="text/css" href="../public/css/libs/hover/hover.css">

    <title>BattleSheep | Profile</title>
</head>
<body>
    <header class="header">
        <%- include("./parts/header"); -%>
    </header>

    <main class="profile__container" style="height: 750px;">
        <h1><mark>Dashboard</mark></h1>
        <span class="profile__welcome">Welcome back <%= username %></span>

        <div class="profile__informations__container">
            <h2>Informations</h2>
        </div>
        <div class="profile__success__container">
            <table>
                <tbody>
                    <tr>
                        <th>Username</th>
                        <th><%= username %></th>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <th><%= email %></th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="profile__logout__button">
            <a href="/logout">Logout</a>
        </div>
    </main>



    <footer>
        <%- include("./parts/footer"); -%>
    </footer>

    <script src="../public/js/responsive/HeaderResponsive.js"></script>

</body>
</html>